<div class="parallax">

    <div class="container whitespace hero">

        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div>
                    <h1>Boost your productivity!</h1>
                    <p style="padding-top: 1rem">Find your rythm and work faster then you ever have before.</p>
                    <a class="btn btn-primary">Check it out</a>
                </div>
            </div>

            <div class="col-6">
                <img src="~/Images/Clock.png" />
            </div>
        </div>

    </div>

    <div class="container d-flex justify-content-between whitespace">
        <div class="card">
            <img src="~/Images/Arrow.png" alt="Analysis chart" id="image_chart" class="card-img-top" />
            <div class="card-body">
                <h4 class="card-title">Profit</h4>
                <p class="card-text">Our clients report exponential growth</p>
            </div>
        </div>

        <div class="card">
            <img src="~/Images/Callendar.png" alt="Calendar" id="image_chart" class="card-img-top" />
            <div class="card-body">

                <h4 class="card-title">Deadlines</h4>
                <p class="card-text">Hit your deadlines earlier</p>
            </div>
        </div>

        <div class="card">
            <img src="~/Images/PieChart.png" alt="Pie chart" id="image_chart" class="card-img-top" />
            <div class="card-body">

                <h4 class="card-title">Time management</h4>
                <p class="card-text">Increase productivity by 30%</p>
            </div>
        </div>
    </div>

    @* Sectiune de marketing *@

    <div class="container whitespace hero whitespace">

        <div class="row gx-5">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <div>
                    <h1>Lead your team with confidence</h1>
                    <p class="pr-4 pt-3">Streamline task management and break down your projects into manageable tasks and subtasks.
                        Organize them with custom labels and due dates.</p>
                    <a class="btn btn-primary">Start yout journey today</a>
                </div>
            </div>

            <div class="col-6">
                <img src="~/Images/Meeting.jpg" class="img-responsive rounded" width=100% />
            </div>
        </div>

    </div>

    <div class="container whitespace hero whitespace">

        <div class="row gx-5">
            <div class="col-6">
                <img src="~/Images/WhiteboardMan.jpg" class="img-responsive rounded" width=100% />
            </div>

            <div class="col-6 d-flex justify-content-center align-items-center">
                <div>
                    <h1>Collaborate Seamlessly</h1>
                    <p class="pr-4 pt-3">
                        Share your projects, assign tasks, and communicate with your team in real-time, all within the app.
                        It's never been easier really.
                    </p>
                    <a class="btn btn-primary">Give it a try</a>
                </div>
            </div>
        </div>

    </div>

</div>