body {
    font-family: Montserrat;
    color: aliceblue;
}

.main-card {
    background-color:#414663;
    padding: 2rem;
}

.whitespace-bottom {
    padding-bottom: 5rem;
}

.container.main-card {
    transition: 0.3s !important;
}

.container.main-card:hover {
    border: 1px solid #393D5C !important;
    /*transition: 0.3s !important;*/
}
