@model Proiect_DAW.Models.Comment


<h2>Edit the comment</h2>
<br />


<form method="post" action="/Comments/Edit/@Model.Id">

    @Html.Label("Content", "Content of the comment")
    <br />

    @Html.TextArea("Content", null, new { @class = "form-control" })
    <br />

    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
    <br />

    <button class="btn  btn-primary" type="submit">Edit the comment</button>

</form>