@model Proiect_DAW.Models.Note

@{
	ViewBag.Title = "Edit";
}

<h2>Note Edit</h2>
<br />

@using (Html.BeginForm(controllerName: "Notes", actionName: "Edit",
						method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
	@Html.Label("Content", "Note Content")
	<br />

	@Html.Editor("Content", new {@class = "form-control"})
	<br />

	@Html.ValidationMessage("Content", "", new {@class = "text-danger"})
	<br />

	<button class="btn btn-primary" type="submit">Edit Note</button>
}